
@{
    Layout = null;
}
@using OA_Managerial_System.Model
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>为用户分配权限</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
</head>
<body>
    <div>
        为
        @{
            UserInfo userinfo = ViewBag.Userinfo;
            <span>
                @userinfo.UName
            </span>
        }分配权限
        <table border="1">
            <tr>
                <th>编号</th>
                <th>权限名称</th>
                <th>Url</th>
                <th>HttpMethod</th>
                <th>操作</th>
            </tr>
            @{
                List<ActionInfo> List = ViewBag.AllactionList;
                List<R_UserInfo_ActionInfo> UserActions = ViewBag.AllUserinfoList;
                foreach (var item in List)
                {
                    var actionname = "cba_" + item.ID;
                    var notactionname = "nocba_" + item.ID;
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.ActionInfoName</td>
                        <td>@item.Url</td>
                        <td>@item.HttpMethod</td>
                        <td>
                            @{
                                var IsExt = (from a in UserActions
                                             where a.ActionInfoID == item.ID
                                             select a).FirstOrDefault();
                                /*用户中存在权限*/
                                if (IsExt != null)
                                {

                                    /*该权限选中*/
                                    if (IsExt.IsPass)
                                    {
                                        <lable for="@actionname">允许</lable>
                                        <input type="radio" checked="checked" id="@actionname" name="@actionname" value="true" class="radio" ids="@item.ID" />
                                        <lable for="@notactionname">禁止</lable>
                                        <input type="radio" id="@notactionname" name="@actionname" value="false" class="radio" ids="@item.ID" />
                                    }
                                    /*该权限未选中*/
                                    else
                                    {
                                        <lable for="@actionname">允许</lable><input type="radio" id="@actionname" name="@actionname" value="true" class="radio" ids="@item.ID" />
                                        <lable for="@notactionname">禁止</lable><input type="radio" id="@notactionname" name="@actionname" checked="checked" value="false" class="radio" ids="@item.ID" />
                                    }
                                }
                                /*用户中不存在权限*/
                                else
                                {
                                    <lable for="@actionname">允许</lable><input type="radio" id="@actionname" name="@actionname" value="true" class="radio" ids="@item.ID" />
                                    <lable for="@notactionname">禁止</lable><input type="radio" id="@notactionname" name="@actionname" value="false" class="radio" ids="@item.ID" />
                                }
                                <input type="button" value="清除" class="btnClear" ids="@item.ID" />
                            }
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</body>

</html>
<script>
    $(function () {
        BingClickEnent();
        bindClearBtnClickEvent();
    });
    function BingClickEnent() {
        $(".radio").click(
            function () {
                var Istrue = $(this).val(); //是否允许该权限
                var UserId =@userinfo.ID;  //用户id
                var actionId = $(this).attr("ids"); //获取权限编号
                $.post("/Userinfo/SetUserAction", { "Istrue": Istrue, "UserId": UserId, actionId: actionId }, function (data) {
                    //处理data
                    if (data == "ok") {
                        $.messager.show({
                            title: '提示',
                            msg: '权限分配成功',
                            showType: 'show'
                        });

                    } else {
                        $.messager.show({
                            title: '提示',
                            msg: '权限分配失败',
                            showType: 'show'
                        });
                    }
                })
            }
        )

    }
        //清除权限
    function bindClearBtnClickEvent() {
        $(".btnClear").click(function () {
              var UserId =@userinfo.ID;  //用户id
            var actionId = $(this).attr("ids");//获取权限编号
            var $control=$(this)
            $.post("/UserInfo/ClearUserAction", { "actionId": actionId, "userId": UserId }, function (data) {
                var serverData = data.split(':');
                if (serverData[0] == "ok") {
                    $control.parent().find(".radio").removeAttr("checked");
                    showMsg(serverData[1]);
                } else {
                    showMsg(serverData[1]);
                }
            });
        });
    }
    function showMsg(msg) {
        $.messager.show({
            title: '提示',
            msg: msg,
            showType: 'show'
        });
    }
</script>
